VERSIONS=6.2.2
CLUSTER_NAME=test-elasticsearch-cluster
ELASTICSEARCH_IMAGE=vulgarmadman/docker-elasticsearch:$VERSIONS
KIBANA_IMAGE=vulgarmadman/docker-kibana:$VERSIONS
ES_DATA_IMAGE=$ELASTICSEARCH_IMAGE
ES_MASTER_IMAGE=$ELASTICSEARCH_IMAGE
ES_MASTER_IMAGE=$ELASTICSEARCH_IMAGE
DATA_STATEFUL=true
DATA_NODE_COUNT=3
MASTER_NODE_COUNT=3
DATA_NODE_PATH=/data
ELASTICSEARCH_DISCOVERY_SERVICE=elasticsearch-discovery
MASTER_MIN_COUNT=2
ES_DATA_HEAP='2048m'
ES_MASTER_HEAP="1024m"
TRANSPORT_TCP_PORT=9300
HTTP_TCP_PORT=9200
DATA_CPU_COUNT=2
DATA_MEMORY=10Gi
MASTER_CPU_COUNT=1
MASTER_MEMORY_COUNT=1Gi
